/*
  Angled accents (L-shaped)

  nw = north west (default)
  ne = north east
  se = south east
  sw = south west
*/
angle-accent(position = nw)
  display block
  width var(--spacing-7)
  height var(--spacing-7)
  if position == ne
    border-top 2px solid
    border-right 2px solid
  else if position == se
    border-bottom 2px solid
    border-right 2px solid
  else if position == sw
    border-bottom 2px solid
    border-left 2px solid
  else
    border-top 2px solid
    border-left 2px solid
