
.tm-plus,
.tm-crosshair
  position relative
  display block
  border-left $px solid

  &::before
    content ""
    display block
    position relative
    border-top $px solid
    left -100%
    margin-left -($px*2)

.tm-plus
  $size = 0.9375rem
  height $size
  width ($size / 2)

  &::before
    width $size
    top floor($size / 2, 1)

.tm-crosshair
  $size = 6rem
  height $size
  width ($size / 2)

  &::after
    content ""
    display block
    position relative

  &::before
    width $size
    top ($size / 2)

  &::after
    $circle = (1rem - $px)
    height $circle
    width $circle
    border-radius 50%
    border $px solid
    top 50%
    left ($circle/-2 - $px)
    margin-top ($circle/-2 - $px)
