.tm-wrapper
  padding-left var(--spacing-7)
  padding-right var(--spacing-7)

@media $breakpoint-medium
  .tm-wrapper
    padding-left var(--spacing-8)
    padding-right var(--spacing-8)

@media $breakpoint-large
  .tm-wrapper
    padding-left var(--spacing-9)
    padding-right var(--spacing-9)

@media $breakpoint-xl
  .tm-wrapper
    padding-left var(--spacing-10)
    padding-right var(--spacing-10)

.tm-container
  position relative
  max-width 90rem
  margin 0 auto

.tm-section
  position relative
  padding-top var(--spacing-10)
  padding-bottom var(--spacing-10)
