.nuxt-content

  .nuxt-content-highlight
    margin-top var(--spacing-5)
    margin-bottom var(--spacing-5)

  p
    margin-top 1em
    margin-bottom 1em
    font-size 1.125rem
    line-height 1.8125rem

  ul, ol
    margin-top 1em
    margin-bottom 1.5em
    margin-left 0
    padding-left 0

  li
    padding-left 0
    margin-left var(--spacing-7)
    margin-bottom var(--spacing-5)
    position relative

  hr
    border-width 1px
    border-style solid
    border-color rgba(0,0,0,0.1)
    margin-top var(--spacing-7)
    margin-bottom var(--spacing-7)

  em
    font-style italic

  blockquote
    padding-left var(--spacing-7)
    padding-right var(--spacing-7)
    border-left 0.25rem solid var(--white-800)
    color var(--color-text-dim, inherit)
    margin-top var(--spacing-8)
    margin-bottom var(--spacing-8)

    .light-mode &
      border-left 0.25rem solid var(--gray-0)